<div class="panel grid">
    {% for obj in objects %}
        <div class="item {% if obj.visible %} visible {% else %} hidden {% endif %} {% if obj.is_document %} document {% else %} folder {% endif %}" data-id="{{obj.id}}">
            <div class="icon {% if obj.is_document %} document {% else %} folder {% endif %}"></div>
            <input type="checkbox" name="_selected_action" value="{{ obj.id }}" class="action-select">
            <div class="title">
                <a href="{{obj.href}}">{{ obj.title }}</a>
            </div>
        </div>
    {% endfor %}
</div>