.panel {
    border: 1px solid #ccc;
}

#panel_container {
    position: relative;
}

#panel_container_left {
    position: relative;
}

#panel_container_right {
    position: relative;
}

.loader {
    position: absolute !important;
}
