<ul class="nav nav-pills action-modes">
    {% for item in items %}
        <li class="mr-1">
            <button type="button" class="btn btn-light dropdown-toggle">
                <i class="{{ item.title_css_class }}"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                {% for sub_item in item %}
                    {% if sub_item.is_divider %}
                        <li><hr class="dropdown-divider"></li>
                    {% else %}
                        <li><a href="#" class="dropdown-item {{sub_item.css_class}}">
                            {% if sub_item.css_icon_class %}
                                <i class="{{ sub_item.css_icon_class }}"></i>
                            {% endif %}
                            <span class="px-2">{{ sub_item.title }}</span>
                            {% if sub_item.is_checked %}
                                <i class="bi-check text-green"></i>
                            {% endif %}
                        </a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>