<div class="ctx-menu"></div>
<div class="breadcrumb">
  <ol class="breadcrumb">
      {% for x in [1, 2, 3] %}
          <li class="item placeholder">
          </li>
      {% endfor %}
  </ol>
</div>
<div class="panel_container">
  <div class="loader"></div>
  <div class="panel">
    <div class="panel grid">
        {% for x in [1, 2, 3, 4] %}
            <div class="item">
                <div class="icon placeholder"></div>
                <div class="title placeholder"></div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>