<div class="ctx-menu"></div>
<div class="d-flex justify-content-between">
    <ul class="nav nav-pills action-buttons">
        <li class="mr-1 upload-action-wrapper">
            <!-- placeholder - will be replaced when view is fully loaded -->
            <button type="button" class="btn placeholder">XXX</button>
        </li>
        <li class="mr-1 new-folder-action-wrapper">
            <!-- placeholder - will be replaced when view is fully loaded -->
            <button type="button" class="btn placeholder">XXX</button>
        </li>
        <li class="mr-1 ocr-lang-action-wrapper">
            <!-- placeholder - will be replaced when view is fully loaded -->
            <button type="button" class="btn placeholder">XXX</button>
        </li>
    </ul>
    <ul class="nav nav-pills action-modes">
        <!-- placeholder - will be replaced when view is fully loaded -->
        <li class="mr-1 sort-mode-wrapper">
            <button type="button" class="btn placeholder">X</button>
        </li>
        <li class="mr-1 display-mode-wrapper">
            <button type="button" class="btn placeholder">X</button>
        </li>
        <li class="mr-1 details-mode-wrapper">
            <button type="button" class="btn placeholder">X</button>
        </li>
        <li class="mr-1 inline-mode-wrapper">
            <button type="button" class="btn placeholder">X</button>
        </li>
        <li class="mr-1 close-mode-wrapper">
            <button type="button" class="btn placeholder">X</button>
        </li>
    </ul>
</div> <!-- action buttons wrapper -->
<div class="breadcrumb">
  <ol class="breadcrumb">
      {% for x in [1, 2, 3] %}
          <li class="item placeholder">
          </li>
      {% endfor %}
  </ol>
</div>
<div class="panel_container">
  <div class="loader"></div>
  <div class="panel">
    <div class="panel grid">
        {% for x in [1, 2, 3, 4] %}
            <div class="item">
                <div class="icon placeholder"></div>
                <div class="title placeholder"></div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>