{% extends "base.html" %}

{% block extra_js %}
  <script type="module" src="static/js/features/basic-panel-with-nodes.js"></script>
{% endblock %}

{% block content %}
  <main class="container py-3">
    <h1>Basic Panel with Nodes</h1>
    <p>
    </p>
    <pre>
        <code class="javascript">
            let panel,
                DC,
                panel_list_html,
                panel_grid_html,
                nodes,
                panel_list_view,
                panel_grid_view;

            DC = DocumentCommander;
            nodes = [
                new DC.Document('invoice1.pdf'),
                new DC.Document('invoice2.pdf'),
                new DC.Folder('My Document')
            ]
            panel = new DC.Panel(nodes);

            panel_list_view = new DC.PanelListView(panel);
            panel_grid_view = new DC.PanelGridView(panel);

            panel_list_html = panel_list_view.render();
            panel_grid_html = panel_grid_view.render();

            $("#panel-list").html(panel_list_html);
            $("#panel-grid").html(panel_grid_html);
        </code>
    </pre>
    <p>
        Result:
    </p>
    <div class="example1">
        <p>Panel list mode:</p>
        <div id="panel-list"></div>
        
    </div>
    <div class="example2">
        <p>Panel grid mode:</p>
        <div id="panel-grid"></div>
    </div>
  </main>
{% endblock %}
