{% extends "base.html" %}

{% block extra_js %}
  <script type="module" src="static/js/features/07-open-close.js"></script>
{% endblock %}

{% block content %}
  <main class="container py-3">
    <h1>Multiple Open/Close Sequences</h1>
    <p>
      User can trigger multiple open/close sequences (eventually with different folder root each). In such case commander will "appear" and "disappear" i.e. open and close.
    </p>
    <div id="selections-and-actions" class="showroom">
        <div id="commander">
        </div>
    </div>
  </main>
{% endblock %}
