{% extends "base.html" %}

{% block extra_js %}
    <script type="module" src="static/js/features/09-open-at-location.js"></script>
{% endblock %}

{% block content %}
    <main class="container py-3">
        <h1>Open at Any Location</h1>
        <p>
         Check if opening commander at different location works i.e. breadcrumb is correctly
         updated for example.
         In this example we open in "My Documents" location.
        </p>
        <div id="with-action-buttons" class="showroom">
            <div id="commander1">
            </div>
        </div>
    </main>
{% endblock %}
