ol.breadcrumb {
    li.item {
        padding-right: 0.2rem;
        a {
            text-decoration: None;
        }
    }
    li.item::before {
        display: inline-block;
        padding-right: .2rem;
        content: "/";
    }
}