ol.breadcrumb {
    li.item {
        padding-right: 0.5rem;
        a {
            text-decoration: None;
        }
    }
    li.item::before {
        display: inline-block;
        padding-right: .25rem;
        content: "/";
    }
}