

.panel {
    display: flex;
}

.panel.list {
    flex-direction: column;

    .node {
        flex-direction: row;
        align-items: center;

        .icon {
            width: 4rem !important;
            height: 3rem !important;
        }
        .icon.placeholder {
            background-color: #ddd;
            height: 100%;
            padding: 2rem;
            border-radius: 0.5rem;
            width: 3rem !important;
            height: 2rem !important;
        }
    }
}

.panel.grid {
    flex-direction: row;
    .node {
        flex-direction: column;
        align-items: center;

        .icon {
            width: 6rem !important;
            height: 8rem !important;
        }
        .icon.placeholder {
            background-color: #ddd;
            padding: 2rem;
            border-radius: 0.5rem;
            width: 4.5rem !important;
            height: 6rem !important;
            margin-top: 1rem;
        }
        .title.placeholder {
             height: 1rem;
             width: 6rem;
             background-color: #ccc;
             border-radius: 0.3rem;
             margin: 1rem;
        }
    }
}

