.panel {
    display: flex;
    .node {
        margin: 1rem;
    }
}

.panel.list {
    flex-direction: column;

    .node {
        flex-direction: row;
        align-items: center;

        .icon {
            width: 4rem !important;
            height: 3rem !important;
        }
    }
}

.panel.grid {
    flex-direction: row;
    .node {
        flex-direction: column;
        align-items: center;

        .icon {
            width: 6rem !important;
            height: 8rem !important;
        }
    }
}

