{% extends "base.html" %}
{% block content %}
  <main class="container py-3">
    <p>
        Document commander is ultra modern web based document browser used by <a href="https://github.com/ciur/papermerge">Papermerge project</a>. On this page you will find all information regarding double commander features, API and use cases description with examples.
    </p>
    <h1>Features</h1>
    <ul>
        <li><a href="/basic-rendering">Basic rendering</a></li>
    </ul>
    <div id="document"></div>
    <div id="folder"></div>
  </main>
{% endblock %}
